html { 
	overflow-y:scroll;
	font-size: 13px; 
}

body { 
	padding-top:50px; 
	
}

.user-list{
	float: left;
}

#todo-list{ 
	margin-bottom:30px; 

}

#game-container{ 
	margin-bottom:50px; 
	float:left;
	width: 800px;
}

.remove-user{
	cursor:pointer;
	color:red;		
}

.game-form{
	margin-top: 50px;
}

.hello-user{
	 font-weight: bold;
	 font-size: 14px;
}

.shuffledWord{
	font-size: 25px;
}

.highlighted-green{
	color: green;
}

.highlighted-red{
	color: red;
}