html { 
	overflow-y:scroll;
	font-size: 13px; 
}

body { 
	padding-top:50px; 
	
}

.header{
	height: 130px;
	padding-top: 0px;
}

.header h1{
	padding-top: 15px;
}

.user-list{
	float: left;
}

.new-user-box{
	width: 350px;
    float: right;
    margin-top: -150px;
    margin-right: 0px;
}

#todo-list{ 
	margin-bottom:30px; 

}

#game-container{ 
	margin-bottom:50px; 
	float:left;
	width: 600px;
}

.remove-user{
	cursor:pointer;
	color:red;		
}

.game-form{
	margin-top: 50px;
}

.hello-user{
	 font-weight: bold;
	 font-size: 14px;
}

.shuffledWord{
	font-size: 25px;
}

.highlighted-green{
	color: green;
}

.highlighted-red{
	color: red;
}

.start-button{

 }

 .countdown{
 	font-weight: bold;
 	font-size: 30px;
 	margin-left:10px;
 }